{% extends "groups/group_base.html" %}

{% block pregroup %}

<div class="content pt-5">
	
  <h1 class="text-info">{{group.name}}</h1>
  <h3 >Group Members: {{group.members.count}}</h3>
	<p>{{group.description|safe}}</p>
  <div class="content">
  	{% if user in group.members.all %}
  		<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-warning"><span class=></span> Leave Group</a>
		<a href="{% url 'posts:create' %}" class="btn btn-warning">Create Post</a>
  	{% else %}
  		<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-warning"><span class="fa fa-check-circle-o"></span> Join</a>
  	{% endif %}
  </div>
</div>
{% endblock %}

{% block group_content %}

<div id = 'detailcoms'class="col-md-8  pt-5" >
	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>
	{% else %}
		{% for post in group.posts.all %}
		<div class="bg-dark text-light rounded">
			{% include "posts/_post.html" %}
		</div>
		<br>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}

