{% extends "groups/group_base.html" %}

{% block pregroup %}

<div class="pt-5  col-md-4 ">
	
  <h1 class="text-info">{{group.name}}</h1>
  <h3 >Group Members: {{group.members.count}}</h3>
  <div class=''style="max-width:400px;">
	<p>{{group.description|safe}}</p>
  </div>
  
  <div class="content ">
  	{% if user in group.members.all %}
  		<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-warning"><span class=></span> Leave Group</a>
		<a href="{% url 'posts:create' %}" class="btn btn-warning">Create Post</a>
  	{% else %}
  		<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-warning"><span class="fa fa-check-circle-o"></span> Join</a>
  	{% endif %}
	  
  </div>
  <br>
  <p class ="text-primary">Group Users</p>
  {% for user in group.members.all %}
 
<li class =" list-inline ">@{{user.username}}</li>
 
{% endfor %}
</div>


{% endblock %}



{% block group_content %}
<div id='' class=" pt-5 rounded col-md-8 " >

	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>
	{% else %}
		{% for post in group.posts.all %}
			{% include "posts/_post.html" %}
		{% endfor %}
	{% endif %}
</div>
{% endblock %}

