{% extends "posts/post_base.html" %}

{% load bootstrap4 %}

{% block post_content %}
<h4>Create New Post</h4>

<form class="container " method="POST" action="{% url 'posts:create' %}" id="postForm" style="border:none;" >
	{% csrf_token %}
	
	{% bootstrap_form form  %}
	{% if messages %}
	{%for message in messages %}
	<div class=" alert alert-danger" role="alert">
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}
	<div class="col-md-4">
		{% if request.user.is_authenticated %}
			<div class="content container ">
				<h5 class="title p-1 ">Your Groups</h5>
				<ul class=" list-inline">
					{% for member_group in user.user_groups.all %}
					<li class="group list-inline-item">
						<a href="{% url 'groups:single' slug=member_group.group.slug %}">{{ member_group.group.name }}</a>
					</li>
					{% endfor %}
					</ul>
			</div>
		</div>
		{% endif %}
	 <input type="submit" Value="POST" class="btn btn-primary btn-large" required=True>
	
</form>
{% endblock %}