
{% extends "base.html" %}

{% block content %}

<div class=" container index-intro nasatext  ">
<h1 class="text-center p-3" id="intro"> Welcome to Star Social Network! </h1>
<h5 class="text-center pb-3"> 
  See what Nasa is up too and check out some Nasa resources! Sign in and go to the groups page to network with other space enthusiasts!</h5>

</div>
<br>

 <div class="row ">
  <div class="col-md-6 panel  tumbnail">
    <iframe class ="youtube"width="auto" height="auto" src="https://www.youtube.com/embed/21X5lGlDOfg" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe>
  </div>
   
 
<div class="col-md-6 panel  ">
      <div class="thumbnail">
        <a href="https://mars.nasa.gov/msl/home/">
          <img src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia23378-16.jpg" alt="Nature" style="width:100%">
          <p class="caption6 image-title p-2 text-light">Space Tech</p>
          <div class="caption">
            <p>Mars Curisity Rover Latest!</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  
 
  
  <div class="row">
  <div class="col-md-4 panel">
    <div class="thumbnail">
      <a href="https://www.nasa.gov/topics/technology/index.html">
        <img src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/otis_on_hoss_stover.jpg" alt="Fjords" style="width:100%">
        <p class="image-title p-2 text-light">Space Tech</p>
        <div class="caption">
          <p>Latest Space Technologies!</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 panel">
    <div class="thumbnail">
      <a href="https://www.nasa.gov/mission_pages/hubble/main/index.html">
        <img src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/28045752710_6a9cca2c72_k_0.jpg" alt="Fjords" style="width:100%">
       
          <p class="image-title p-2 text-light">Hubble</p>
        <div class="caption ">
          <p>Hubble Telescope Latest!</p>
        </div>
      </a>
    </div>
  </div>
   
  <div class="col-md-4 panel nasa-app">
    <div class="thumbnail">
      <a href="https://mars.nasa.gov/msl/home/">
        <img src="https://lh3.googleusercontent.com/1JsiZgdGb2VAcYmVZO_5QN7_p-X01GIhFTcSk5LxNLmtrTI5ptR3jDKdetIqquj4jakYwRNCJRrE_SZGlAbDCiKTOUClrfw7q5lGxPYE6TNCWv6rxIReA1dzveyN2x1CUKYUTRKzeg=w2400" alt="Nature" style="width:100%">
        <p class="image-title p-2 text-light">Downloads</p>
        <div class="caption">
          <p>Nasa Downloads</p>
        </div>
      </a>
    </div>
</div>
</div>


<hr>


<div class ="container twitter-feed" >
<a class="twitter-timeline" href="https://twitter.com/NASA?ref_src=twsrc%5Etfw">Tweets by NASA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>





{% endblock %}