
body {
    margin: auto;
     max-width:1500px;
    background-color: black;
    color:white;
  }

  html,
body {
  height: 100%;
  width: 100%;
  max-width:1500px;
  background: rgb(0, 0, 0);
  margin: auto;
}

#navbar{
  background-image: url("https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_640.jpg");
 
}
.index-img{
  max-width: 100%;
 
}
.index-intro{
  position: relative;
  background-color:rgb(93, 127, 185,.500);
}
.abso{ 
  position: absolute;
}
#intro {
 margin:auto;
    color: rgba(249,241,204,1);
  
  }


#note {
  position: absolute;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}

.nav-item hover{
    color: white;
}

#postForm{
    z-index: 1000;
}

.rounded{
  border-radius: 10px;
}

#detailcoms{
  /* margin:auto; */
  padding:10px;
  /* border: solid 10px red; */
  
}

.badge{
  color: white;
}

.groupscript{ 
  color:white;
}

.responsive{
  width: 100%;
  height: auto;
  border: solid 10px red;
  max-height: 450px;
  max-width: 450px;

}

.caption{
background-color: rgba(255, 255, 255, 0.750);
width:auto;
height: 30px;
position:absolute;
bottom:0px;
padding-left: 2px;
padding-right: 2px;
color: black;
/* border: solid 10px red; */
}
.caption6{
  background-color: rgb(255, 255, 255 ,.650);
position: relative;
bottom:10;
padding-left: 2px;
color: black;
}
.image-title{ 
  background-color:rgb(93, 127, 185,.650);
  position:absolute;
  bottom:3%;
  
}

.marsrover{
  position:relative;
}
.row {
margin: auto;
width:auto;
height:auto;

}


.container {
  position: relative;
}

.nasatext{
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.showme{
  border: solid 10px red;
  
 
}




.xbtn {
  
  width: 75px;
  font-size: 10pt;
 
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}
.panel{
  height:auto;
  position:relative;
  
}

.index-page{
  width:100%;
}
.index-intro{
  max-height:200px;
  position:relative;
}

.index-intro:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  background: url('https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/potw2109a.jpg') no-repeat;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.intro-script{
  max-width:650px;
  margin: auto;
  justify-content: center;
  position: relative;
}

.site-intro{
  position:relative;
  top:30%;
}
.nasa-app{
  height:90%;
}
.youtube{
 height:100%;
 width:100%;
 min-height:300px;

}

.twitter-feed{
  max-width: 400px;
 
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}




.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.thumbnail{
  position: relative;
  height:100%;
  
}
/* .little-thumbnail{
  position: relative;
  height:100%;
  padding-left:10px;
  padding-right:5px;
} */


.top-row{
  display:flex;
}