body {
    margin: auto;
     
    background-color: black;
    color:white;
  }

  html,
body {
  height: 100%;
  width: 100%;
  
  background: rgb(0, 0, 0);
  margin: auto;
}


.index-img{
  max-width: 100%;
 
}
.index-intro{
  position: relative;
  background-color:rgb(93, 127, 185,.500);
}
.abso{ 
  position: absolute;
}
#intro {
 margin:auto;
    color: rgba(249,241,204,1);
  
  }


#note {
  position: absolute;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}

.nav-item hover{
    color: white;
}

#postForm{
    z-index: 1000;
}

.rounded{
  border-radius: 10px;
}

#detailcoms{
  /* margin:auto; */
  padding:10px;
  /* border: solid 10px red; */
  
}

.badge{
  color: white;
}

.groupscript{ 
  color:white;
}

.responsive{
  width: 100%;
  height: auto;
  border: solid 10px red;
  max-height: 450px;
  max-width: 450px;

}

.caption{
background-color: rgba(255, 255, 255, 0.750);
width:auto;
height: 30px;
position:absolute;
bottom:0px;
padding-left: 2px;
padding-right: 2px;
color: black;
/* border: solid 10px red; */
}
.caption6{
  background-color: rgb(255, 255, 255 ,.650);
position: relative;
bottom:10;
padding-left: 2px;
color: black;
}
.image-title{ 
  background-color:rgb(93, 127, 185,.650);
  position:absolute;
  bottom:0%;
  
}

.marsrover{
  position:relative;
}
.row{
  margin:auto;
}

.nasatext{
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.showme{
  border: solid 10px red;
  
 
}




.xbtn {
  
  width: 75px;
  font-size: 10pt;
 
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}
.panel{
  height:auto;
}

.index-page{
  width:100%;
}
.nasa-app{
  height:90%;
}
.youtube{
 height:100%;
 width:100%;
 min-height:300px;

 
}

.twitter-feed{
  max-width: 400px;
 
}

