
body {
    margin: auto;
     max-width:1500px;
    background-color: black;
    color:white;
  }

  html,
body {
  height: 100%;
  width: 100%;
  max-width:1500px;
  background: rgb(0, 0, 0);
  margin: auto;
}

#navbar{
  background-image: url("https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_640.jpg");
 
}


.index-img{
  max-width: 100%;
 
}
.index-intro{
  position: relative;
  background-color:rgb(93, 127, 185,.500);
}
.abso{ 
  position: absolute;
}
#intro {
 margin:auto;
    color: rgba(249,241,204,1);
  
  }


#note {
  position: absolute;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}
.nav-link hover{
  color: white;
}

.nav-item hover{
    color: white;
}
.hamburger{
  color: white;
  border:none;
}

#postForm{
    z-index: 1000;
}

.rounded{
  border-radius: 10px;
}

#detailcoms{
  /* margin:auto; */
  padding:10px;
  /* border: solid 10px red; */
  
}

.badge{
  color: white;
}

.groupscript{ 
  color:white;
}

.responsive{
  width: 100%;
  height: auto;
  border: solid 10px red;
  max-height: 450px;
  max-width: 450px;

}

.caption{
background-color: rgba(255, 255, 255, 0.750);
width:auto;
max-width: 100%;
height: 30px;
position:absolute;
bottom:0px;
padding-left: 2px;
padding-right: 2px;
color: black;
word-wrap:normal;
/* border: solid 10px red; */
}
.caption6{
  max-width: 100%;
  background-color: rgb(255, 255, 255 ,.650);
position: relative;
bottom:10;
padding-left: 2px;
color: black;
}
.image-title{ 
  background-color:rgb(93, 127, 185,.650);
 
  position:absolute;
  bottom:13px;
  
}

.marsrover{
  position:relative;
}
.row {
margin: auto;
width:auto;
height:auto;

}


.container {
  position: relative;
}

.nasatext{
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.showme{
  border: solid 10px red;
  
 
}




.xbtn {
 
 
  font-size: 10pt;
 
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}
.panel{
  height:auto;
  position:relative;
  
}

.index-page{
  width:100%;
}
.index-intro{
  max-height:200px;
  position:relative;
}

.index-intro:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  background: url('https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/potw2109a.jpg') no-repeat;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.intro-script{
  max-width:650px;
  margin: auto;
  justify-content: center;
  position: relative;
}

.site-intro{
  position:relative;
  top:30%;
}
.nasa-app{
  height:90%;
}
.youtube{
 height:100%;
 width:100%;
min-height:325px;
max-width:100%;
margin: 0;


}


.twitter-feed{
  max-width: 400px;
 
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}


.group-list{
  margin: auto;
  
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.dl-sub{
  position: relative;
  height:100%;
  width:100%;
  object-fit: cover;

}

.thumbnail{
  position: relative;
  height:100%;
  width:100%;
  object-fit: cover;
  display:flex;
  margin: auto;
 
}
/* .little-thumbnail{
  position: relative;
  height:100%;
  padding-left:10px;
  padding-right:5px;
} */


.top-row{
  display:flex;
}

img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
  padding:0;
  margin:0 auto;
}

.tele{
  position: relative;
  height:100%;
  width:100%;
  object-fit: cover;
  display:flex;
  margin: auto;
 
}

#social-content{
  width: 100%;
  height:auto;
  padding:0;
  height: 100%; 
  object-fit: contain;
}

#mars-rover{
  padding-left: 10px;
}

#jupiter{
  padding-top: 10px;
  height: 100%;
  padding-right: 5px;
}

#blackholes{
  padding-top:10px;
  padding-left:5px;
  height:100%;
}
#spacetech{
  padding-top:10px;
  padding-right: 5px;
  padding-bottom:25px;
  
}
#hubble{
  padding-top:10px;
padding-left:5px;
padding-right: 5px;
height:100%;
}
#downloads{
  padding-top:10px;
height:100%;
padding-left:5px;

}

@media screen and (max-width: 600px) {
.img-layout .thumbnail{
  margin-bottom: 15px;
}
.img-layout .panel{
  margin-bottom: 15px;
}
.youtube{
  padding-top:10px;
  margin-right:10px;
  margin-left:5px;
  margin-top:0px;
  margin-bottom: 5px;
  min-height: 260px;
}
  .img-layout{
    margin: 5px;
  
  }
  .img-layout .mainphoto{
    margin-right:10px;
    margin-left:10px;
    margin-top:10px;
    margin-bottom: 5px;
    height: 250px;
  }

img {
  width:auto; /* You can set the dimensions to whatever you want */
  height: 250px;
  object-fit: cover;
}


#mars-rover{
  padding-left: 0;
  margin:10px;
 margin-bottom: 10px;
}

#jupiter{
  padding-top: 0;
  height: 100%;
  padding-right: 0;
 
}

#blackholes{
  padding-top:0;
  padding-left:0;
  padding-bottom: 0;
  height:100%;
}

#spacetech{
  padding-left:0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  height:100%;
 
  margin-right:2.5px;
  margin-left:2.5px;
  margin-top:0px;
  margin-bottom: 0px;


}

#hubble{
height: 100%;
margin: 2.5px;
padding-left:0px;
padding-right: 0px;
padding-bottom: 0px;
padding-top: 0px;


}

#downloads{
  padding-left:0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  height:100%;
  margin-right:2.5px;
  margin-left:2.5px;
  margin-top:2.5px;
  margin-bottom: 0px;
}

.btm-section{
  margin-right:10px;
  margin-left:10px;
  margin-top:0px;
  margin-bottom: 0px;
  padding-left:0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;

}

.big-mfer{
  margin-right:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom: 0px;
  padding-left:0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}
 
}


/* end media query */

.yt-border{

  border: 1px solid white;
}


#image-area{
  /* border: 5px solid red; */
  margin:5px;
}

.no-pad{
  padding-left:0;
  padding-right:0;
  padding-bottom:0;
  padding-top:0;
}



.big-mfer{
  margin-right:5px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom: 0px;
 display:flex;

}

.userpage{
  margin: auto;
}
