body {
    margin: auto;
   
    background-color: black;
    color:white;
  }

  html,
body {
  height: 100%;
  width: 100%;
 
  background: rgb(39, 38, 38);
  margin: auto;
}


.index-img{
  max-width: 100%;
 
}
.index-intro{
  position: relative;

}
.abso{ 
  position: absolute;
}
#intro {
 margin:auto;
    color: rgba(249,241,204,1);
  
  }


#note {
  position: absolute;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}

.nav-item hover{
    color: white;
}

#postForm{
    z-index: 1000;
}

.rounded{
  border-radius: 10px;
}

#detailcoms{
  /* margin:auto; */
  padding:10px;
  /* border: solid 10px red; */
  
}

.badge{
  color: white;
}

.groupscript{ 
  color:white;
}

.responsive{
  width: 100%;
  height: auto;
  border: solid 10px red;
  max-height: 450px;
  max-width: 450px;

}

.caption{
background-color: rgb(255, 255, 255 ,.555);
position: relative;
bottom:0;
padding-left: 2px;
color: black;
}
.caption6{
  background-color: rgb(255, 255, 255 ,.555);
position: relative;
bottom:10;
padding-left: 2px;
color: black;
}
.image-title{ 
  background-color:#5d7fb9;
  position:absolute;
  bottom:10%;
}

.marsrover{
  position:relative;
}
.row{
  margin:auto;
}

.nasatext{
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.showme{
  border: solid 10px red;
  
 
}




.xbtn {
  
  width: 75px;
  font-size: 10pt;
 
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}
.panel{
  height:auto;
}

.index-page{
  width:100%;
}
.nasa-app{
  height:90%;
}
.youtube{
 height:100%;
 width:100%;
 min-height:250px;
 margin-bottom: 10px;
 padding-bottom: 15px;
}
