body {
    margin: 0;
   
    background-color: black;
    color:white;
  }

  html,
body {
  height: 100%;
  width: 100%;
 
  background: #2f294f;
  margin: 0;
}


.index-img{
  max-width: 100%;
 
}
.index-intro{
  position: relative;
}
.thumbnail{ 
  position: absolute;
}
#intro {
 
    color: rgba(249,241,204,1);
  
  }


#note {
  position: absolute;
  color: rgba(249,241,204,1);
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  text-align: center;
  user-select: none;
  font-family: Arial;
}

.nav-item hover{
    color: white;
}

#postForm{
    z-index: 1000;
}

.rounded{
  border-radius: 10px;
}

#detailcoms{
  margin:auto;
  /* border: solid 10px red; */
  
}

.badge{
  color: white;
}

.groupscript{ 
  color:white;
}

.responsive{
  width: 100%;
  height: auto;
  border: solid 10px red;
  max-height: 450px;
  max-width: 450px;

}